<div class="row">
  <div class="col-8 m-auto">
    <div class="card card-body">
      <div class="row d-flex flex-row justify-content-center mb-5">
        <small class="mr-5">*必填欄位</small>
        <div class="h4">請輸入你的支出</div>
      </div>

      <div class="d-flex justify-content-center">
        <form action="/expense" method="post">
          <div class="form-group row">
            <label for="name" class="col-5 col-sm-4 col-form-label">名稱*:</label>
            <div class="col-7 col-sm-8">
              <input type="text" class="form-control" name="name" id="name">
            </div>
          </div>

          <div class="form-group row">
            <label for="name" class="col-5 col-sm-4 col-form-label">名稱*:</label>
            <div class="col-7 col-sm-8">
              <input type="text" class="form-control" name="name" id="name">
            </div>
          </div>

          <div class="form-group row">
            <label for="date" class="col-5 col-sm-4 col-form-label">日期*:</label>
            <div class="col-7 col-sm-8">
              <input type="date" class="form-control" name="date" id="date">
            </div>
          </div>

          <div class="form-group row">
            <label for="cetagory" class="col-5 col-sm-4 col-form-label">類別*:</label>
            <div class="col-7 col-sm-8">
              <select name="cetagory" id="cetagory" class="form-control">
                <option value="">家居物業</option>
                <option value="">交通出行</option>
                <option value="">休閒娛樂</option>
                <option value="">餐飲食品</option>
                <option value="">其他</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="amount" class="col-5 col-sm-4 col-form-label">金額*:</label>
            <div class="col-7 col-sm-8">
              <input type="number" class="form-control" name="amount" id="amount">
            </div>
          </div>

          <button type="submit" class="btn btn-primary btn-block my-5">送出</button>
        </form>
      </div>
    </div>
  </div>
</div>