* {
  list-style:none;
}

.container {
  max-width: 768px;
}
/*******************
      index
 *******************/
.index-icons i {
  color:#008b8b;
  font-size: 2.5rem;
}

.div-expense p {
  font-size: 1em;
}
.total-expense {
  margin-left: 2rem;
  font-size: 3em;
}

big {
  font-weight: bold;
}

/*******************
      new page
 *******************/
 
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.columns-left label {
  margin-top: 15px;
}